.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10%;
  width:400px;
  border: 4px solid  rgb(19, 133, 226);
  border-radius: 5%;
  box-shadow:5px 5px rgb(87, 87, 90);
}

.tenureText{
  color:rgb(59, 243, 129);
  font-weight: bolder;
}